[Unit]
Description=AWOS Player
StartLimitIntervalSec=5

[Service]
ExecStart=/home/awos/play.sh
Nice=-10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=awos-play
User=awos
Group=awos
Restart=on-failure

[Install]
WantedBy=multi-user.target
