[Unit]
Description=AWOS Player
StartLimitBurst=0
StartLimitIntervalSec=0

[Service]
ExecStart=/home/awos/play.sh
Nice=-5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=awos-play
User=awos
Group=awos
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
